# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.moved-aside
*.xcuserdatad
# Swift Package Manager
/.build
/Packages
# CocoaPods
Pods/
# Cartera personal, llaves, certificados
*.p12
*.mobileprovision
# MacOS
.DS_Store
